.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.top, .bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0px 20px 0px;
}
.block, input, button, select{
    width: 80%;
}
.top>.block{
    margin: 10px;
}
.bottom>button{
    margin: 10px;
}
.block>p{
    margin: 10px auto;
    width: 50%;

}
.canvas{
    border: 1px solid black;
}
